<!DOCTYPE html>
<html>
<head>
    <title>租赁平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="//files.iwjw.com/icon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href='<%- MethodNameSpace.getURL("common.css")%>'>
    <link rel="stylesheet" href='<%- MethodNameSpace.getURL(staticTag+".css")%>'>
</head>
<body>
<!--react spa-->
<div id="root"></div>
<script type="text/javascript">
    window.pageConfig={
        staticUrl:'<%- staticResourceURL%>',
        siteUrl:location.href
    }
</script>
<script src='<%- MethodNameSpace.getURL("common.js")%>'></script>
<script src='<%- MethodNameSpace.getURL(staticTag+".js")%>'></script>
</body>
</html>
