<!DOCTYPE html>
<html>
<head>
    <title>租赁平台</title>
    <link rel="stylesheet" href='<%- MethodNameSpace.getURL("common.css")%>'>
    <link rel="stylesheet" href='<%- MethodNameSpace.getURL(staticTag+".css")%>'>
</head>
<body>
爱屋吉屋租赁平台
<!--react spa-->
<div id="root">加载中，点击我跑通项目</div>
<script type="text/javascript">
    window.pageConfig={
        staticUrl:'<%- staticResourceURL%>',
        siteUrl:location.href
    }
</script>
<script src='<%- MethodNameSpace.getURL("common.js")%>'></script>
<script src='<%- MethodNameSpace.getURL(staticTag+".js")%>'></script>
</body>
</html>
