<!DOCTYPE html>
<html>

<head>
  <title><%- locals.title %></title>
  <link rel="icon" href="/demo/static/image/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href='<%- MethodNameSpace.getURL("common.css")%>'>
  <link rel="stylesheet" href='<%- MethodNameSpace.getURL(staticTag + ".css") %>'>
</head>

<body>
    <%- include(templateName) %>
    <script src='<%- MethodNameSpace.getURL("common.js")%>'></script>
    <script src='<%- MethodNameSpace.getURL(staticTag+".js")%>'></script>
</body>
</html>
